img { max-width: 50px }

.stop-name {
    font-size: 2em;
    text-transform: uppercase;
}

.direction {
    font-size: 2em;
}

.arrival-min {
    font-size: 2em;
}

.img-train{
    max-width: 10vw;
}

.arrival-min {
    text-align: right;
}

.arrow {
    font-size: 2em;
}

.isRed {
    color: #ea4141;
}

table {
    width: 100%;
    background-color: transparent;
    padding: 0%;
    margin: 0%
}

.train-row td {
    vertical-align: middle!important;
}

.temp {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.temp img {
    min-width: 2em;
}

/* Small */
@media  (max-width: 767px) {
    .stop-name {
        font-size: 1em;
    }
    
    .direction {
        font-size: 1em;
    }
    
    .arrival-min {
        font-size: 1em;
        text-align: left;
    }
}

/* Small */
@media  (max-width: 991px) {
    .stop-name {
        font-size: 1.5em;
    }
    
    .direction {
        font-size: 1.5em;
    }
    
    .arrival-min {
        font-size: 1.5em;
        text-align: left;
    }
}