<table class="table table-striped">
  <tbody>
    <tr class="temp-row">
      <th colspan="2" class="temp">{{weather.temperature.min}}ºC /
        {{weather.temperature.current}}ºC /
        {{weather.temperature.max}}ºC</th>
      <th colspan="2" class="temp">
        {{weather.description}}
        <img src="http://api.openweathermap.org/img/w/{{weather.icon}}" alt="weather icon">
      </th>
    </tr>
    <tr class="train-row" *ngFor="let train of trains | sort:'stop_name'">
      <td><img class="img-train" src="/assets/{{ train.id }}.png" alt=""></td>
      <td class="stop-name">{{ train.stop_name }}</td>
      <td class="direction">
        <i class="fa arrow" [ngClass]="(train.direction == 'S')?'fa-arrow-circle-down':'fa-arrow-circle-up'"></i>
      <td class="arrival-min">{{ train.arrival_min | number }} min</td>
    </tr>
  </tbody>
</table>

<!-- Status:
<div class="row" *ngFor="let s of status">
  <div class="col-md-6">{{ s.name }}</div>
  <div class="col-md-6">{{ s.status }}</div>
  <div class="col-md-12" innerHtml="{{s.text}}"></div>
</div> -->